@font-face {
	font-display: block;
	font-family: "Pixel Sans";
	src: url("/assets/fonts/fs-pixel-sans-unicode-regular.ttf");
}

:root {
	font-family:
		Pixel Sans,
		Helvetica,
		Arial,
		sans-serif;
	font-size: 40px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;

	font-synthesis: none;
	text-rendering: optimizeSpeed;
}

.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
h1 {
	text-align: center;
}
